* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__tittle {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;

}

.navbar__s4 {
    display: none;
}

.myLearning {
    position: relative;
    cursor: pointer;
}

.myLearning__popup {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    padding: 20px;
    top: 150%;
    right: 0;
    display: none;
}

.myLearning:hover .myLearning__popup {
    display: block;

}

.catagories {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

.catagories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #A435F0;
}

.catagories p:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: 1px solid #A435F0
}

.sale-images {
    position: relative;
}

.sale-images__offer {
    width: 35%;
    border: 2px solid black;
    background-color: white;
    padding: 2%;
    top: 10%;
    position: absolute;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.sale-images img {
    width: 100%;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    width: 250px;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: 2px solid gray;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;

}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/*media quries */
@media screen and (max-width:800px) {

    body {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course-card {
        flex-basis: 40%;
    }

    .catagories {
        display: none;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .navbar__s4 {
        display: block;
    }
}